<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('../components/navbar') %>

  <h1>Add User</h1>
  <form action="/users" method="POST">
    <div class="input-group">
      <label>Name</label>
      <input type="text" name="name" style="margin-left: 30px;">
    </div>

    <div class="input-group" style="margin-top: 5px;">
      <label>Email </label>
      <input type="text" name="email" style="margin-left: 33px;">
    </div>

    <div class="input-group" style="margin-top: 5px;">
      <label>Password </label>
      <input type="password" name="password" style="margin-left: 3px;">
    </div>

    <button type="submit" style="margin-top: 10px;">Send</button>
  </form>

  <%- include('../components/footer') %>
</body>
</html>