<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Users</title>
  <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
  <%- include('../components/navbar') %>
  
  <h2>Detail User</h2>
  <ul>
    <li>Nama: <strong><%= userData[0].name %></strong></li>
    <li>Email: <strong><%= userData[0].email %> </strong></li>
  </ul>
  <a href="/users">Kembali</a>
  
  <%- include('../components/footer') %>
</body>
</html>